body{
    color: white;
}
.dishes{
    display: flex;
    flex-direction: column;
    width: 60%;
    margin-left: 9%;
    margin-right: 1%;
}
.dish{
    display: flex;
    height: 5%;
    border-bottom: 1px solid lightgray;
}
.right-div{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: left;
    margin-left: 10px;
    width: 70%;
}
img{
    height: 200px;
}

.name{
    font-weight:900;
    text-decoration: underline;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.favourite-button{
    width: 30%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    overflow: hidden;
    
}
.favourite-button button{
    background-color: red;
    border:none;
    color:white;
    padding: 10px;
    border-radius: 5px;
    margin-bottom: 20px;
    
}
.favourite-button button:hover{
    cursor: pointer;
    background-color: rgba(255, 0, 0, 0.712);
}
.dishes-favourites{
    display: flex;
}
.left-div img{
    height: 100px;
}
.left-div{
    display: flex;
    align-items: center;
}
.favourite-dish{
    display: flex;
    border: 1px solid lightgray;
    height: 100px;
}
.favourites{
    width: 30%;
}
.rank{
    position: absolute;
    right:21%;
    bottom: 30%;
    background-color: white;
}
.rank span{
    color: black;
}
.rank span:hover{
    cursor: pointer;
    background-color: lightgray;
}
.right-divF{
    display: flex;
    align-items: center;
    margin-left: 8%;
    width:300px;
    justify-content: space-around;
}
.favourite-rank{
    display: flex;
    align-items: center;
    text-decoration: underline;
}
.no-favourites{
    color: gray;
}
.no-favourites-div{
    margin-left:13%;
    margin-top: 10%;
}
.heading2{
    display: flex;
    justify-content: flex-end;
    margin-right: 7%;
    text-decoration: underline;
}
.heading2:hover{
    color:rgb(248, 245, 245);
    cursor: pointer;
}
.heading1{
    text-decoration: underline;
    /* color: maroon; */
}
.remove{
    color: red;
    text-decoration: underline;
}
.remove:hover{
    cursor: pointer;
    background-color: rgb(241, 210, 210);
}
.change-div{
    display: flex;
    flex-direction: column;
    margin-left: 5px;
}
.change-rank span:hover{
    background-color: lightgray;
    cursor: pointer;
}
.change-button{
    background-color: green;
    border:none;
    color:white;
    padding:5px;
}
.change-button:hover{
    cursor: pointer;
    background-color: rgb(9, 90, 13);
}
.close{
    height: 15px;
    margin-left: 5px;
    margin-top: 7px;
}